<div class="brand">
    <img src="../assets/dp.jpg" />
    <h1>HELLO, I'M <span style="color:red">SARWESH</span></h1>
    <p>
            I'm currently pursuing my graduate studies at the Department of Computer Science and Engineering, Texas A&M University.
            Previously, I worked at
            <a href="https://en.wikipedia.org/wiki/Fidelity_Investments"><b>Fidelity Investments</b></a>
            as a Software Engineer.
        </p>
    <p>
        I'm seeking Software Engineering internships for the Summer of 2019.
    </p>
    
    <div class="contact">
        <a href="mailto:sarwesh.krshnn@gmail.com">
            <fa name="envelope" size="3x"></fa>
        </a>
        <a href="https://linkedin.com/in/sarweshkrishnan">
            <fa name="linkedin" size="3x"></fa>
        </a>
        <a href="https://github.com/sarweshkrishnan">
            <fa name="github" size="3x"></fa>
        </a>
    </div>
</div>