#left-container {
    float: left;
    position: relative;
    width: 40%;
    height: 60%;
    min-width: 330px;

    margin: 5% 0%;
    padding: 5% 1%;
    border-right: 1px solid #888;
}

#right-container {
    position: relative;
    float: right;
    width: 53%;
    height: 60%;
    min-width: 330px;

    margin: 3% 0%;
    padding: 5% 2%;
}

#left-container {
    position: relative;
    font-family: "Source Sans Pro";
    font-size: 16px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

#fullpage {
    position: relative;
    margin: 0 auto;
}