.slide {
    padding: 1% 0%;
    color: #cdcdcd;
}

h2 {
    font-size: 2.5vw;
    color: #ebcb00;
}
.blog > h1 {
    font-weight: 300;
    font-size: 1.7vw;
    letter-spacing: 8px;
    display: inline;

    color: #777777;
}

.blog > a {
    font-size: 0.7vw;
}

.contact {
    position: relative;
    min-width: 222px;
    text-align: center;
}

.contact > a {
        color: #777777;
        text-decoration: none;
        transition: 1s color;
        
        margin: 20px 20px 0px 10px;
}
.contact > a:hover {
    color: #ffdc00;
}

.resume-button {
    position: relative;
    font-size: 1.7vw;
    width: 50%;
    padding: 0px 20px;
    margin: 10px 25% 50px 25%;
    background: #cccccc;
}

.resume-button > a {
    color: #888888;
    text-decoration: none;
}

.resume-button > a:hover {
    color: #ffdc00;
}