.slide {
    text-align: center;
}

.typed-container > h1 {
    font-weight: 300;
    font-size: 30px;
    letter-spacing: 8px;
    margin-bottom: 20px;
}

.skills-container {
    float: left;
    text-align: left;
    min-width: 450px;
    min-height: 220px;
    margin: 1% auto 0% auto;
}
.skills-container > h2 {
    text-align: left;
    font-family: Source Sans Pro;
    font-weight: 100;

    color: #CCC;
}

.resume-button {
    font-size:  30px;
    padding: 0px 20px;
    background: #888;
    text-decoration: none;
}

.blog > h1 {
    font-weight: 300;
    font-size: 21px;
    letter-spacing: 8px;
    display: inline;

    color: red;
}

.blog > a {
    font-size: 10px;
}